---
layout: default.html
---

<h1>Recent Posts</h1>

<ul>
{% for post in collections.posts | limit(5) %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date | dateToRfc3339 }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ul>

<h2>Recent Links</h2>

<ul>
{% for link in collections.links | limit(5) %}
  <li>
    <a href="{{ link.url | url }}">{{ link.data.title }}</a>
    <time datetime="{{ link.date | dateToRfc3339 }}">{{ link.date | readableDate }}</time>
  </li>
{% endfor %}
</ul>